@charset "UTF-8";
/* Обнуление */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qrblock {
  max-width: 320px;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.image {
  margin: 0px 0px 24px 0px;
}

.image img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  margin: 0px 15px 25px;
  letter-spacing: 0.8px;
  color: #212c4a;
}

.text {
  color: #a6a9b2;
  font-size: 15px;
  line-height: 20px;
  margin: 0px 15px 25px;
}

.attribution {
  text-align: center;
}
